<nav class="navbar bg-secondary">
  <h1 class="text-light ml-5">List of users service</h1>
  <!-- Links -->
  <ul class="nav nav-bar border text-white rounded bg-dark">
    <li class="nav-item">
      <a th:href="@{/users}" class="nav-link">List Of Users</a>
    </li>
    <li class="nav-item">
      <a th:href="@{/registration}" class="nav-link">Register</a>
    </li>
    <li class="nav-item">
      <a th:href="@{/login}" class="nav-link">Login</a>
    </li>
    <!--    <li class="nav-item">-->
    <!--      <a href="#" class="nav-link disabled">Disabled</a>-->
    <!--    </li>-->
  </ul>
</nav>