<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up - CodeJava</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar bg-secondary">
    <h1 class="text-light ml-5">List of users service: registration</h1>
    <ul class="nav nav-bar border text-white rounded bg-dark">
        <li class="nav-item">
            <a th:href="@{/users}" class="nav-link">List Of Users</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/registration}" class="nav-link">Register</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/login}" class="nav-link">Login</a>
        </li>
    </ul>
</nav>
<div class="container text-center">
    <form th:action="@{/process_register}" th:object="${user}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">Email: </label>
                <div class="col-8">
                    <input type="text" th:field="*{email}" class="form-control"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Name: </label>
                <div class="col-8">
                    <input type="text" th:field="*{name}" class="form-control"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-8">
                    <input type="text" th:field="*{password}" class="form-control"/>
                </div>
            </div>


            <div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>