<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js" defer></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/checkAll.js"></script>
</head>

<body>
<nav class="navbar bg-secondary">
    <h1 class="text-light ml-5">List of users service: users list</h1>
    <!-- Links -->
    <ul class="nav nav-bar border text-white rounded bg-dark">
        <li><div>
                <a th:href="@{/logout_tech}" class="nav-link">Logout</a>
        </div></li>
    </ul>
</nav>
<div class="container text-center">
    <div>
            <p>Logged user: <b>[[${#request.userPrincipal.principal.name}]]</b></p>
    </div>
    <form th:action="@{/action}" th:object="${listUsers}" method="post">
        <div>
            <h1>List of Users</h1>
        </div>

        <div>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th><input type="submit" value="Delete users" name="action"/></th>
                    <th><input type="submit" value="Block users" name="action"/></th>
                    <th><input type="submit" value="Unblock users" name="action"/></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>

                    <th><input type="checkbox" onClick="toggle(this)"/>  Toggle All<br/></th>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Registration date</th>
                    <th>Last login date</th>
                    <th>Status</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${listUsers}">

                    <td>
                        <input type="checkbox" name="my-checkbox" th:value="${user.id}">
                    </td>
                    <td th:text="${user.id}">User ID</td>
                    <td th:text="${user.name}">Name</td>
                    <td th:text="${user.email}">E-mail</td>
                    <td th:text="${user.registrationDate}">Registration date</td>
                    <td th:text="${user.lastLoginDate}">Last login date date</td>
                    <td th:text="${user.status}">Status</td>
                </tr>
                </tbody>
            </table>

        </div>
    </form>

</div>
<script type='text/javascript'>

(function()
{
  if( window.localStorage )
  {
    if( !localStorage.getItem('firstLoad') )
    {
      localStorage['firstLoad'] = true;
      window.location.reload();
    }  
    else
      localStorage.removeItem('firstLoad');
  }
})();

</script>
</body>
</html>